@import "./variables";

.product-card {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  max-width: 500px;
  min-width: 350px;
  min-height: 350px;
  width: 100%;

  &-image {
    width: 100px;
    padding: 10px;
    flex-shrink: 0;
    margin: 10px;
  }

  &-descriptiion {
    display: flex;
    flex-direction: column;
    & > p {
      margin: 10px;
    }
  }

  &-name {
    font-size: map-get($font-size, big);
    font-weight: map-get($font-weight, semi-bold);
  }

  &-about {
    overflow: auto;
    height: 200px;
  }

  .favourite-btn {
    background-color: $secondary-color;
    color: white;
    padding: 5px;
    border: none;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: auto;
    align-self: flex-start;
  }
}
